@charset "UTF-8";

@media print {
    body{
        background-image: url(../imagens/back-print.jpg);
    }

    main h1 {
        color: black;
        text-shadow: none;
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        border: 1px solid black;
        border-radius: 10px;
    }

    img#phone { display: none}
    img#tablet {display: none}
    img#impressora {display: block}
    img#pc {display: none}
    img#tv {display: none}
}

@media screen and (min-width: 768px) and (max-width: 992px) /* TABLET */ {
    body{
        background-image: url(../imagens/back-tablet.jpg);
        
    }
    img#phone { display: none}
    img#tablet {display: block}
    img#impressora {display: none}
    img#pc {display: none}
    img#tv {display: none}

}

@media screen and (min-width: 992px) and (max-width: 1200px) /* DESKTOP */ {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone { display: none}
    img#tablet {display: none}
    img#impressora {display: none}
    img#pc {display: block}
    img#tv {display: none}
}

@media screen and (min-width: 1200px) /* GRANDES TELAS */ {
    body{
        background-image: url(../imagens/back-tv.jpg);
        height: 100vh;
        background-size: cover;


    }
    img#phone { display: none}
    img#tablet {display: none}
    img#impressora {display: none}
    img#pc {display: none}
    img#tv {display: block}
}