@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte-evermore: 'IM Fell DW Pica';

}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
}

header{
    background-color: #d7c6bf;
    color: #40220D;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header > p > a {
    color: #40220D;
    text-align: left;
    font-weight: bold;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 30px;
    font-size: 3vw;

}

section > h3{
    font-family: var(--fonte-evermore);
}

section > p {
    font-family: var(--fonte-evermore);
}

section.normal{
    background-color: #baa8a0;
    color: #351c0a;
}

section.imagem{
    background-color: #be9583;
    color: #ffffff;
}

section.imagem {
    text-shadow: 10px 10px 10px black;

}

footer {
    background-color: #40220D;
    padding: 5px;
    text-align: center;
    color: #d7c6bf;
}
footer > a{
    color: #d7c6bf;
}