@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte-evermore: 'IM Fell DW Pica';

}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
}

header{
    background-color: #d7c6bf;
    color: #40220D;
    text-align: center;
    box-shadow: solid 10px 10px 10px black;
}

header > h1{
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 6vw;
}

header > p {
    padding-bottom: 50px;
}

header > p > a {
    color: #40220D;
    text-align: left;
    font-weight: bold;
}

section {
    padding-top: 45px;
    padding-bottom: 45px;
    line-height: 1.5em;
    padding-left: 30px;
    width: auto;
    font-size: 3vw;
    

}

section > h3{
    font-family: var(--fonte-evermore);
}

section > p {
    font-family: var(--fonte-evermore);
    font-weight: bold;
}

section.normal{
    background-color: #baa8a0;
    color: #351c0a;
}

section.imagem{
    background-color: #be9583;
    color:  #efe9e6;;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.571);
}

section.imagem {
    text-shadow: 10px 10px 10px black;
    background-attachment: fixed;

}



#img01 {
    background-image: url(imagens/braid.jpg);
    background-size: cover;
    background-position: top center;

    left: 50%;
    top: 50%;


}

#img02 {
    background-image: url(imagens/download.jpg);
    background-size: cover;
    background-position: center;
}

footer {
    background-color: #40220D;
    padding: 5px;
    text-align: center;
    color: #d7c6bf;
    min-width: auto;
}
footer > a{
    color: #d7c6bf;
}